body {
    background-color: rgb(43, 41, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    height: 65px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 72, 0);
    color: #fff;
    font-size: x-large;
}